.breadcrumbs :deep{
    background-color: #f1f1f1a1;
    svg {
        color: #26534f;
        font-size: 2.5rem;
        margin: 0 10px 0 -20px;
    }

    span{
        color: #26534f;
        font-size: 1.2rem;
    }

    .icon-next{
        font-size: 1.2rem;
        margin-left: 15px;
    }

    .breadcrumb-item {
        color: #26534f;
        font-size: 1.2rem;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        color: transparent !important;
        content: var(--bs-breadcrumb-divider, "") /* rtl: var(--bs-breadcrumb-divider, "/") */;
    }

}

.index-user{
    padding: 30px 90px;

    .div-title{
        .title{
            color: #26534f;
            font-weight: bold;
        }
    }
    .buttons{
        text-align: right;
    }

    button, a{
        text-transform: uppercase;
    }

    .btn-create{
        background-color: #26534f !important;
        margin-bottom: 10px;
        width: 250px;
    }

    .table-responsive :deep {
        margin-top: 30px;
        border-radius: 15px;

        tr th{
            color: #26534f;
            padding: 15px 20px;
            text-align: center;
        }

        tr td{
            color: #353535;
            padding: 20px 20px 5px;
            text-align: center;
        }

        .delete, .edit{
            background-color: transparent;
            color: #26534f;
            padding: 2px;
            margin-left: 10px;
            border: none;
        }

    }
}
// cadastro
.register-user{
    padding: 30px 90px;

    .div-title{
        .title{
            color: #26534f;
            font-weight: bold;
        }
    
    }
    .buttons{
        text-align: right;
        margin-top: 30px;
    }

    button, a{
        text-transform: uppercase;
    }

    .btn-create{
        background-color: #26534f;
        // margin-bottom: 10px;
        width: 200px;
        border: none;
        margin-left: 20px;
    }

    .btn-cancel{
        background-color: transparent;
        color: #9b9b9b;
        border: 1px solid #9b9b9b;
        width: 200px;
        margin-right: 20px;
    }

    .btn-save{
        background-color: #00970f;
        color: white;
        width: 200px;
        border: none;
    }

    .form{
        margin-top: 20px;
        input{
            margin: 5px 0;
        }

        .form-group{
            margin-top: 20px;
        }

        label{
            margin-top: 20px;
        }

        .multiselect{
            width: 100% !important;
            background-color: #00970f !important;
        }
    }
}
